*, html, body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


.fContainer {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    /* height: 100vh; */
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
}

.firstname {
    color: rgb(2, 154, 255);
    font-weight: bold;
}

.lastname {
    color: white;
    padding-left: 4px;
}

/* Navbar */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation > li {
    list-style-type: none;
    padding: 15px;
}

.navigation > li > a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navigation > li > a:hover {
    color: rgb(2, 154, 255);
    transition: all .3s ease-in-out;
}

.active {
    background-color: rgb(2, 154, 255);
    padding: 15px;
}

.active:hover {
    color: white !important;
}

/* Main Content */
main {
    padding: 70px 80px; 
}

.main-container img {
    height: 250px;
    padding-bottom: 50px;
}

.main-container h1 {
    font-size: 60px;
}

.main-container h2 {
    font-size: 30px;
}

/* Responsive Smartphone */
@media screen and (max-width: 568px){
    .wrapper{
        width: 100%;
    }

    .brand{
        display: none;
    }

    main {
        padding: 50px 25px;
    }
}